html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    color: white;
    font-family: 'Merriweather Sans' ;
}


h1 {
    margin-left: 10px;
}
#app {
    display: grid;
    height: 100%;
    grid-template-areas: 
    "nav"
    "main";
    grid-template-rows: 50px 1fr;
}


#app > main {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: main;
    background-color: #4D463D;

}

#card1 {
    display: grid;
    grid-template-areas: "tabs"
                         "tabcontent";
    margin-bottom: 200px;
}

.sighting-card {
    background-color: white;
    width: 225px;
    margin: 10px;
    height: 425px;
    box-shadow: 5px 7px black;
}

.sighting-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    

}

#alienform {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: 1fr 1fr;
    margin-left: 25px;
}
#alienform > input[type=text] {
    display: block;
    
    
}

label {
    display: block;
}


.wrapper {
    margin: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    color: black;
    margin-bottom: 20px;

}

button:hover{
    background-color:rgb(158, 22, 47);
}

 

#tabcontent {   
    grid-area: tabcontent;
    background-color: white;
    color: black;
    padding-bottom: 20px;
    padding-top: 10px;
    
}

button {
    background-color: rgb(48, 47, 47);
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    height: 25px;
}




#sightinglist {
    width:  725px;
    height: 20px;
    background-color: #010626;
    padding: 8px;
    font-size: 20px;
    margin-top: 50px;
}
